<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BAIDashboards/src/client/SampleRun.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;restapi&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;ILOG_EXECUTION_SERVER_HOME/lib/commons-logging-1.0.4.jar&quot; path=&quot;3&quot; type=&quot;3&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;ILOG_EXECUTION_SERVER_HOME/lib/commons-codec-1.11.jar&quot; path=&quot;3&quot; type=&quot;3&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;BAIDashboards&quot; type=&quot;1&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;ILOG_EXECUTION_SERVER_HOME/lib/httpclient.jar&quot; path=&quot;3&quot; type=&quot;3&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;ILOG_EXECUTION_SERVER_HOME/lib/httpcore.jar&quot; path=&quot;3&quot; type=&quot;3&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;IBM_DC_HOME/teamserver/lib/json4j-1.0.0.2.jar&quot; path=&quot;3&quot; type=&quot;3&quot;/&gt;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="client.SampleRun"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="GENERATE LoanValidation 200 data/loanFixVal.json true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BAIDashboards"/>
</launchConfiguration>